{:did        "did:web:etzhayyim.github.io:com-etzhayyim-nusa"
 :handle     "nusa.etzhayyim.com"
 :ipns-key   "nusa-actor"
 :graph-type "com.etzhayyim.nusa.graph"
 :published  "2026-06-28"
 :bundle [["data" "data"]
          [".well-known/did.json" "did.json"]
          ["README.md" "README.md"]]}
